.home-skill-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  justify-content: center;
}

.home-skill-card {
  text-align: center;
  border-radius: 999px;
  background-color: var(--blue);
  color: #fff;
  padding: 6px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.work-skill-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}

.work-skill-card {
  font-size: 14px;
  text-align: center;
  border-radius: 999px;
  background-color: #fff;
  color: black;
  padding: 6px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}