.App {
  text-align: center;
}

h2 {
  display: inline;
}

.content {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

.transition {
  padding-bottom: 86px;
}

.transition-footer {
  margin-top: -86px;
  padding-bottom: 86px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--background));
}

.first-background {
  background-color: var(--lightyellow);
}

.second-background {
  background-color: var(--yellow);
}
